extends ./base.jade

block head
  base(href='/')
  link(inline rel='stylesheet', href='styles/main.css')
  link(rel='stylesheet', href='./mocha.css')

  script(inline src='shims.js')

block body
  div(ui-view)

  script(inline src='angular.js')
  script(inline src='ui-route.js')

  // build:js(dev) scripts/bundle.js
  script(inline src='scripts/index.js')
  // endbuild


  // Built with love using Web Starter Kit
