extends ./partials/base.jade

block head
  link(inline rel='stylesheet', href='styles/main.css')
  script(inline src='./shims.js')

block body
  root-app

  script(inline src='angular.js')
  script(inline src='angular-route.js')
  // build:js(dev) scripts/bundle.js
  script(inline src='scripts/index.js')
  // endbuild

  // Built with love using Web Starter Kit
