extends ./partials/base.jade

block head
  link(inline rel='stylesheet', href='styles/main.css')
  script(inline src='./shims.js')

block body

  header-bar
  nav-bar
  main-content

  script(inline src='angular.js')
  // build:js(dev) scripts/bundle.js
  script(inline src='scripts/index.js')
  // endbuild

  // Built with love using Web Starter Kit
